<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have a new job application for a position <%= @job_application.job.title %></h1>
<p>
  Contact info
  <ul>
    <li>Phone: <%= @job_application.phone_number %></li>
    <li>Email: <%= @job_application.email %></li>
    <li>Birth date: <%= @job_application.birth_date %></li>
    <li>Competence: <%= @job_application.competence %></li>
  </ul>
</p>
<p>
  To add more jobs, go to: <a href="<%= new_job_url %>">Add job page</a>. Happy hiring!

</p>
<p>Thanks for applying and have a great day!</p>
</body>
</html>